# MkDocs build artefacts
site/
pdf/

# Python cache
__pycache__/
*.pyc

# Python work scripts
*.py

# OS-specific
.DS_Store
Thumbs.db

# Virtuelle Umgebung
.venv/
.venv-win
.vscode/
lokal.txt

# Playwright/pyppeteer Downloads
.playwright/
.local/share/pyppeteer/

# Editor & OS
*.log
.DS_Store

# Beta content
docs/beta/
