site_name: Spanische Linguistik @ School

theme:
  name: material
  language: de
  logo: assets/images/toolkit_logo.png
  favicon: assets/images/toolkit_favicon.png
  icon:
    repo: fontawesome
    logo: material/library
  palette:
    - scheme: default
      primary: custom     # Material-Design-Standardfarbe für hellen Modus
      accent: custom
      toggle:
        icon: material/weather-night
        name: Wechsel zu Dunkelmodus
    - scheme: slate
      primary: custom 
      accent: custom
      toggle:
        icon: material/weather-sunny
        name: Wechsel zu Hellmodus
  features:
    - content.tabs
    - content.code.annotate
    - content.action.edit
    - content.details
    - navigation.footer
    - content.action.print
    - icons
    - icons.inline        

plugins:
  - search
  - exporter:
      exporter_type: pdf
      chromium_args: ["--no-sandbox"]
      timeout: 0              # unendlich
      wait_until: load        # genügt für statische Seiten
      enabled: !ENV ["EXPORT_PDF", true]   #  ← Schalter           
      buttons:                
        - title: Als PDF herunterladen
          icon: material-file-pdf-box
          enabled: !!python/name:mkdocs_exporter.formats.pdf.buttons.download.enabled
          attributes: !!python/name:mkdocs_exporter.formats.pdf.buttons.download.attributes

      formats:
        pdf:
          enabled: true       
          concurrency: 2      
          browser:            
            headless: true
            args:
              - --no-sandbox

extra_css:
  - assets/stylesheets/overrides.css
  - assets/stylesheets/maps.css
  - https://unpkg.com/leaflet/dist/leaflet.css

extra_javascript:
  - https://unpkg.com/leaflet/dist/leaflet.js
  - assets/javascripts/map_ui.js
  - assets/javascripts/map.js
  - assets/javascripts/map_countries.js
  - assets/javascripts/map_variation_tempora.js

nav:
  - Titel: index.md
  - Einleitung: einleitung.md
  - 1 Fehlerlinguistik: fehlerlinguistik.md
  - 2 Aussprache: aussprache.md
  - 3 Orthographie: orthographie.md
  - 4 Lexikalische Kreativität: kreativitaet.md
  - 5 Variation & Plurizentrik:
      - 5.1 Variation & Plurizentrik: variation/variation_plurizentrik.md
      - 5.2 Aussprachevariation: variation/variation_aussprache.md
      - 5.3 Variation in Grammatik und Pragmatik: variation/variation_grammatik.md
      - Karte und Zahlen: variation/map_countries.md
  - 6 Sprachwandel: wandel.md
  - 7 Herkunftssprachen: herkunftssprachen.md

extra:
  generator: false
  social:
    - icon: fontawesome/brands/creative-commons
      link: https://creativecommons.org/licenses/by-sa/4.0/

markdown_extensions:
  - admonition
  - pymdownx.details
  - pymdownx.superfences
  - pymdownx.extra
  - attr_list
  - footnotes
  - toc:
      permalink: true
      title: "Struktur des Kapitels"

copyright: >
  © 2026 Philipps-Universität Marburg · Felix Tacke · Teil von <a href="https://hispanistica.com" target="_blank" rel="noopener">Hispanistica @ Marburg</a>

