:root {
    --md-default-bg-color: #F2F2F2;
    --md-surface-bg-color: #E8E8E8;
    --md-on-surface: #2E2E2E;
  }
  

.md-header__button.md-logo img {
  /* Höhe komplett aufheben und flexibel größer machen */
  height: auto !important;
  max-height: none !important;
  height: 80px !important;
  width: auto !important;
  max-width: none !important;
}

.cover-container {
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  background-color: #2094F3;
}

.logo-image {
  display: block;
  width: 100%;
  max-width: 400px;
  margin: 0;
  padding: 0;
  border: none;
}

.cover-caption {
  color: white;
  width: 100%;
  max-width: 400px;
  text-align: center;
  padding: 8px 0;
  box-sizing: border-box;
  margin: 0;
  border: none;
  line-height: 1;
  background-color: inherit;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.185);
}

.cover-caption .subtitle,
.cover-caption .coordination,
.cover-caption .authors {
  margin: 0;
  padding: 4;
  font-weight: normal;
}

.cover-caption .subtitle {
  font-size: 1.25em;
  font-style: normal;
  font-weight: normal;
  margin-top: 24px;
  margin-bottom: 56px;
}

.cover-caption .coordination {
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 6px;
}

.cover-caption .coordination-name {
  font-size: 0.9em;
  font-weight: normal;
  margin-bottom: 24px;
}

.cover-caption .authors {
  font-weight: bold;
  font-size: 0.9em;
  margin-bottom: 6px;
}

.cover-caption .author-names {
  font-size: 0.9em;
  font-weight: normal;
  margin-bottom: 56px;
}

.cover-caption .place {
  font-size: 0.70em;
  font-weight: normal;
  margin-bottom: 6px;
  color: #ffffff;
}

.cover-caption .badge {
  margin-bottom: 18px;
}
